.swipeable-card {
  transition: opacity .8s;
  transform: translateX(0) rotateZ(0);
  opacity: 1;
}

.swipe-right {
  transition: transform .5s, opacity .5s;
  transform: translateX(100px) translateY(-100px) rotateZ(30deg);
  opacity: 0;
}

.swipe-left {
  transition: transform .5s, opacity .5s;
  transform: translateX(-100px) translateY(-100px) rotateZ(-30deg);
  opacity: 0;
}

.accept, .decline {
  visibility: hidden;
  position: absolute;
  left: 45%;
  top: 25%;

  transition: transform 1.5s, opacity 1.5s;
  transform: translateY(0);
  opacity: 1;
}

.accept i, .decline i {
  font-size: 4em;
}

.accept {
  color: green;
}

.decline {
  color: red;
}

.accept.visible, .decline.visible {
  visibility: visible;
  transform: translateY(-100px);
  opacity: 0;
}

h2 {
  font-size: 18px;
}