.swipeable-card {
  transition: transform .5s, opacity .5s;
  transform: translateX(0);
  opacity: 1;
}

.swipe-right {
  transform: translateX(100px);
  opacity: 0;
}

.swipe-left {
  transform: translateX(-100px);
  opacity: 0;
}

.accept, .decline {
  font-size: 4em;
  visibility: hidden;
  position: absolute;
  left: 45%;
  top: 25%;

  transition: transform 2s, opacity 2s;
  transform: translateY(0);
  opacity: 1;
}

.accept.visible, .decline.visible {
  visibility: visible;
  transform: translateY(-100px);
  opacity: 0;
}
